/*** Import Fonts ***/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i);
@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700);
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?nq6rkt");
  src: url("../fonts/icomoon.eot?nq6rkt#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?nq6rkt") format("truetype"), url("../fonts/icomoon.woff?nq6rkt") format("woff"), url("../fonts/icomoon.svg?nq6rkt#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="fa-"], [class*=" fa-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.fa-twitter:before {
  content: "\e906"; }

.fa-brand:before {
  content: "\e906"; }

.fa-tweet:before {
  content: "\e906"; }

.fa-social:before {
  content: "\e906"; }

.fa-instagram:before {
  content: "\e907"; }

.fa-brand2:before {
  content: "\e907"; }

.fa-social2:before {
  content: "\e907"; }

.fa-facebook:before {
  content: "\e908"; }

.fa-brand3:before {
  content: "\e908"; }

.fa-social3:before {
  content: "\e908"; }

.fa-codepen:before {
  content: "\e900"; }

.fa-dribbble:before {
  content: "\e901"; }

.fa-linkedin:before {
  content: "\e902"; }

.fa-envelope-o:before {
  content: "\e903"; }

.fa-github:before {
  content: "\e904"; }

.fa-medium:before {
  content: "\e905"; }

@font-face {
  font-family: "Futura Book";
  src: url("../fonts/Futura-Book.ttf"), url("../fonts/Futura-Book.eot");
  /* IE */ }

/*** Variables ***/
/* -------------------------------- 
Small Window Size and Mobile Style
-------------------------------- */
@media screen and (max-width: 1050px) {
  .header h4 {
    font-size: 160px !important; }
  .image-container {
    width: 70% !important; } }

@media screen and (max-width: 850px) {
  .button-container {
    margin: 10px 10px !important; }
  .image-container {
    width: 70% !important; }
  .button-container {
    margin: 10px 10px !important; }
  h2 {
    font-size: 15vw !important; } }

@media screen and (max-width: 750px) {
  .header h4 {
    font-size: 100px !important; }
  .intro p {
    font-size: 18px !important; }
  .intro span {
    font-size: 18px !important; }
  .image-container {
    width: 80% !important; }
    .image-container p {
      font-size: 18px !important;
      padding: 50px 0 !important; }
    .image-container .section-index {
      font-size: 15px !important; } }

@media screen and (max-width: 625px) {
  .block-logo, .nav-arrow {
    display: none !important; }
  .menu-logo {
    display: block !important; }
  .navbar-container {
    display: none !important; }
  .nav, .navbar {
    display: none !important; } }

@media screen and (max-width: 550px) {
  svg#Svg-html-logo {
    width: 400px;
    height: auto !important; }
  #chart svg {
    height: 300px !important; }
  .header h4 {
    font-size: 60px !important; } }

@media screen and (max-width: 450px) {
  svg#Svg-html-logo {
    width: 275px !important; }
  .connect-container {
    top: 150px !important;
    width: 250px !important; }
    .connect-container li.connect-item a {
      font-size: 15px !important;
      letter-spacing: 2px; }
    .connect-container li.connect-item p.connect-info {
      padding: 10px 0 10px 40px !important;
      font-size: 12px !important; } }

/* -------------------------------- 
		General Style
-------------------------------- */
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  overflow-x: hidden; }

.page-container {
  position: relative;
  padding: 0;
  margin: 0 auto;
  width: 100%; }

.highlight {
  background: #FCEA34;
  border-radius: 3px; }

/* -------------------------------- 
		Page Style
-------------------------------- */
p.reference {
  margin-top: -20px;
  margin-bottom: 30px;
  font-size: 12px; }
  p.reference a {
    color: #3c3c3c; }

/*** svg Logo ***/
text {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: logo-outline 3s forwards;
  -moz-animation: logo-outline 3s forwards;
  -o-animation: logo-outline 3s forwards;
  -ms-animation: logo-outline 3s forwards;
  animation: logo-outline 3s forwards; }

@-webkit-keyframes logo-outline {
  100% {
    stroke-dashoffset: 0; } }

@-moz-keyframes logo-outline {
  100% {
    stroke-dashoffset: 0; } }

@-o-keyframes logo-outline {
  100% {
    stroke-dashoffset: 0; } }

@-ms-keyframes logo-outline {
  100% {
    stroke-dashoffset: 0; } }

@keyframes logo-outline {
  100% {
    stroke-dashoffset: 0; } }

/*** kfan.io Logo ***/
.block-logo {
  z-index: 999;
  position: absolute;
  width: 200px;
  top: 45px;
  padding-left: 35px;
  font-size: 25px;
  letter-spacing: 2px; }
  .block-logo a {
    text-decoration: none; }

span.logo {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #fff; }

span.logo.dark {
  color: #000; }

span.logo.light {
  color: #fff; }

#dot {
  color: #5FA6E0;
  display: inline-block;
  position: absolute;
  transform: translate(0, 5px); }

/*** Menu Logo ***/
.menu-logo {
  font-size: 25px !important;
  display: none;
  letter-spacing: -1px !important;
  position: absolute !important; }

/*** Menu Overlay ***/
.menu-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #5fa6e0;
  z-index: -1;
  opacity: 0;
  top: 0;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
  background-attachment: fixed;
  transform: scale(1.5);
  transition: 0.5s cubic-bezier(0, 1, 0.5, 1); }

.menu-list {
  width: 100%;
  position: relative;
  top: 50%;
  margin-bottom: -50%;
  transform: translateY(-50%);
  margin-top: 30px; }
  .menu-list .menu-item {
    height: 130px;
    text-align: center; }
    .menu-list .menu-item a {
      font-family: "Poppins", sans-serif;
      font-size: 65px;
      color: #fff;
      font-weight: 600;
      text-decoration: none;
      letter-spacing: 2px; }

.menu-span {
  transition: 0.5s cubic-bezier(0, 1, 0.5, 1); }

.fadeInScale {
  z-index: 10 !important;
  opacity: 1 !important;
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important; }

/*** Navbar ***/
.navbar-container {
  position: relative;
  top: 25px;
  right: 50px; }

.navbar-container {
  position: absolute;
  top: 50px;
  right: 50px; }

.nav, .navbar {
  width: 150px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  float: right;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  flex-wrap: nowrap; }
  .nav a, .navbar a {
    color: #3c3c3c;
    text-decoration: none; }
  .nav .nav-item, .navbar .nav-item {
    z-index: 10;
    padding: 5px 5px 2px 5px;
    animation-duration: .2s;
    background: #f9f9f9;
    border-radius: 2px;
    transition: all 0.5s cubic-bezier(0, 1, 0.5, 1); }

nav .connect.dark {
  background: transparent;
  border: 1px solid #fff; }
  nav .connect.dark a {
    color: #fff; }
  nav .connect.dark:hover {
    background: #fff; }
    nav .connect.dark:hover a {
      color: #000; }

nav .connect.light {
  background: transparent;
  border: 1px solid #000; }
  nav .connect.light:hover {
    background: #000; }
    nav .connect.light:hover a {
      color: #fff; }

.connected {
  background: #fff !important;
  z-index: 100 !important;
  border: none; }
  .connected a {
    color: #000 !important; }
  .connected:hover a {
    color: #000 !important; }

.nav-arrow {
  position: fixed;
  z-index: 10;
  width: 150px;
  transition: all 0.3s cubic-bezier(0, 1, 0.5, 1); }
  .nav-arrow img {
    width: 150px;
    height: auto; }

.about-me {
  position: fixed !important;
  top: 100px;
  left: 20px;
  opacity: 1; }
  .about-me:hover {
    -webkit-transform: translate(10px, 0) !important;
    transform: translate(10px, 0) !important; }

.about-me.top {
  top: 30px !important; }

/*** Header ***/
.header {
  height: 100vh;
  width: 100%;
  background-image: url("../img/bg-min.jpeg");
  background-origin: center center;
  background-size: cover;
  text-align: center; }
  .header h4 {
    color: #fff;
    font-size: 220px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 100vh;
    vertical-align: middle; }

/*** Intro Page ***/
.image-container {
  width: 60%;
  margin: 0 auto;
  padding: 0; }
  .image-container p {
    display: block;
    width: 100%;
    margin: 0 auto;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-weight: 400 !important;
    line-height: 40px;
    color: #808080;
    padding: 120px 0; }
    .image-container p span {
      display: block;
      color: #3c3c3c; }
    .image-container p .section-index {
      color: #5FA6E0;
      font-size: 18px;
      font-weight: 600;
      padding-bottom: 0 !important;
      margin-bottom: -30px; }
    .image-container p a {
      color: #000; }
      .image-container p a:hover {
        color: #808080; }

.intro p {
  font-size: 25px;
  font-weight: 600; }

.button-row-container {
  width: 200px;
  height: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; }

section.svg-wrapper {
  margin: auto;
  width: 90%;
  max-width: 800px;
  height: 90vh;
  position: relative;
  text-align: center;
  background: #F7F7F7; }

#intro {
  max-width: 800px; }
  #intro .section-container {
    margin-top: 0px; }

.section-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .section-container h4 {
    font-size: 50px;
    font-weight: 300;
    color: #3c3c3c;
    margin-bottom: 30px; }

/* -------------------------------- 
			Buttons
-------------------------------- */
/*** General Button Styles ***/
.button-container {
  display: inline-block;
  margin: 10px 10px;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 2px;
  height: 45px;
  width: 200px;
  -webkit-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000; }
  .button-container .button {
    height: 45px;
    width: 200px;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .button-container .button i.fa {
      font-size: 20px;
      padding: 11px 10px;
      text-shadow: 0.5px 1px 1px #3c3c3c; }

.button-icon {
  position: absolute;
  height: 45px;
  width: 45px !important;
  top: 50%;
  left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%); }

/*** Button Outline ***/
.button-outline i.fa-twitter {
  border-bottom: 4px solid #55acee;
  color: #bdc3c7; }

.button-outline .svg-button-outline rect {
  opacity: 0; }

.button-outline:hover .fa-twitter {
  border: none;
  color: #55acee; }

.button-outline:hover .svg-button-outline rect {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: .6s button-outline linear forwards;
  animation: .6s button-outline linear forwards; }

@-moz-keyframes button-outline {
  0% {
    stroke-dasharray: 45 1000;
    stroke-dashoffset: -300;
    stroke-width: 8px;
    opacity: 1; }
  100% {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    stroke-width: 3px;
    opacity: 1; } }

@-webkit-keyframes button-outline {
  0% {
    stroke-dasharray: 45 1000;
    stroke-dashoffset: -300;
    stroke-width: 8px;
    opacity: 1; }
  100% {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    stroke-width: 3px;
    opacity: 1; } }

@keyframes button-outline {
  0% {
    stroke-dasharray: 45 1000;
    stroke-dashoffset: -300;
    stroke-width: 8px;
    opacity: 1; }
  100% {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    stroke-width: 3px;
    opacity: 1; } }

/*** Button Corner ***/
.button-corner i.fa-facebook {
  color: #bdc3c7; }

.button-corner:hover .fa-facebook {
  color: #3b5998; }

.button-corner rect {
  stroke-dasharray: 40 205;
  stroke-dashoffset: 510;
  -webkit-transition: .5s;
  transition: .5s; }

.button-corner:hover .svg-button-corner rect {
  stroke-dasharray: 40 80;
  stroke-dashoffset: -105; }

/*** Button Edge ***/
.button-edge i.fa-instagram {
  color: #bdc3c7; }

.button-edge:hover .fa-instagram {
  color: #9b6954; }

.button-edge rect {
  stroke-dasharray: 48 1000;
  stroke-dashoffset: 604;
  -webkit-transition: .5s;
  transition: .5s; }

.button-edge:hover .svg-button-edge rect {
  stroke-dasharray: 40 0;
  stroke-dashoffset: 0; }

/* -------------------------------- 
			Pulse
-------------------------------- */
.pulse svg g {
  stroke-dasharray: 120 1000;
  -moz-animation: 3s Pulse ease-in-out infinite;
  -webkit-animation: 3s Pulse ease-in-out infinite;
  animation: 3s Pulse ease-in-out infinite; }

@-moz-keyframes Pulse {
  0% {
    stroke-dashoffset: 120; }
  100% {
    stroke-dashoffset: -1000; } }

@-webkit-keyframes Pulse {
  0% {
    stroke-dashoffset: 120; }
  100% {
    stroke-dashoffset: -1000; } }

@keyframes Pulse {
  0% {
    stroke-dashoffset: 120; }
  100% {
    stroke-dashoffset: -1000; } }

/* -------------------------------- 
			Draw and Fill
-------------------------------- */
svg.draw-fill-container {
  width: 70vw;
  max-width: 600px;
  height: auto;
  max-height: 380px; }
  svg.draw-fill-container g {
    fill-opacity: 1;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0; }
  svg.draw-fill-container g .drawing {
    -moz-animation: 3s draw-fill ease-in-out;
    -webkit-animation: 3s draw-fill ease-in-out;
    animation: 3s draw-fill ease-in-out; }

@-moz-keyframes draw-fill {
  0% {
    stroke-dashoffset: 1000;
    fill-opacity: 0; }
  75% {
    stroke-dashoffset: 0;
    fill-opacity: 0; }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1; } }

@-webkit-keyframes draw-fill {
  0% {
    stroke-dashoffset: 1000;
    fill-opacity: 0; }
  75% {
    stroke-dashoffset: 0;
    fill-opacity: 0; }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1; } }

@keyframes draw-fill {
  0% {
    stroke-dashoffset: 1000;
    fill-opacity: 0; }
  75% {
    stroke-dashoffset: 0;
    fill-opacity: 0; }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1; } }

/* -------------------------------- 
			Chart
-------------------------------- */
#chart svg {
  width: 70vw;
  max-width: 500px; }
  #chart svg g {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000; }
  #chart svg g .drawing {
    -webkit-animation: logo-outline 2s forwards;
    -moz-animation: logo-outline 2s forwards;
    -o-animation: logo-outline 2s forwards;
    -ms-animation: logo-outline 2s forwards;
    animation: logo-outline 2s forwards; }

/* -------------------------------- 
			Sun Rise/Set
-------------------------------- */
#apple-watch {
  width: 200px;
  height: auto; }

#solar {
  position: absolute;
  left: 50%;
  margin-right: 50%;
  transform: translateX(-50%);
  margin-top: 93px;
  overflow: none;
  height: 150px;
  z-index: 999; }

#solar-object #sun use {
  opacity: 1;
  -moz-animation: 4s Sun-Move ease-in-out infinite;
  -webkit-animation: 4s Sun-Move ease-in-out infinite;
  animation: 4s Sun-Move ease-in-out infinite;
  z-index: 999; }

#solar-object ellipse {
  opacity: 1;
  -moz-animation: 4s Sun-Gradient ease-in-out infinite;
  -webkit-animation: 4s Sun-Gradient ease-in-out infinite;
  animation: 4s Sun-Gradient ease-in-out infinite; }

.solar-path {
  position: absolute;
  z-index: 0;
  margin-left: -180px;
  margin-top: 150px; }
  .solar-path path {
    -moz-animation: moveTheWave 4s linear infinite;
    -webkit-animation: moveTheWave 4s linear infinite;
    animation: moveTheWave 4s linear infinite;
    stroke-dasharray: 1000; }

@-moz-keyframes moveTheWave {
  0% {
    stroke-dashoffset: 700;
    -moz-transform: translate3d(-20, 0, 0); }
  100% {
    stroke-dashoffset: 100;
    transform: translate3d(-200px, 0, 0); } }

@-webkit-keyframes moveTheWave {
  0% {
    stroke-dashoffset: 700;
    transform: translate3d(-20, 0, 0); }
  100% {
    stroke-dashoffset: 100;
    transform: translate3d(-200px, 0, 0); } }

@keyframes moveTheWave {
  0% {
    stroke-dashoffset: 700;
    transform: translate3d(-20, 0, 0); }
  100% {
    stroke-dashoffset: 100;
    transform: translate3d(-200px, 0, 0); } }

@-moz-keyframes Sun-Move {
  0% {
    -moz-transform: translateY(0); }
  50% {
    fill: transparent;
    -moz-transform: translateY(75px); }
  75% {
    fill: white; }
  100% {
    -moz-transform: translateY(0); } }

@-webkit-keyframes Sun-Move {
  0% {
    transform: translateY(0); }
  50% {
    fill: transparent;
    transform: translateY(75px); }
  75% {
    fill: white; }
  100% {
    transform: translateY(0); } }

@keyframes Sun-Move {
  0% {
    transform: translateY(0); }
  50% {
    fill: transparent;
    transform: translateY(75px); }
  75% {
    fill: white; }
  100% {
    transform: translateY(0); } }

@-moz-keyframes Sun-Gradient {
  0% {
    opacity: 1;
    transform: translateY(0); }
  50% {
    opacity: 0;
    transform: translateY(75px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@-webkit-keyframes Sun-Gradient {
  0% {
    opacity: 1;
    transform: translateY(0); }
  50% {
    opacity: 0;
    transform: translateY(75px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes Sun-Gradient {
  0% {
    opacity: 1;
    transform: translateY(0); }
  50% {
    opacity: 0;
    transform: translateY(75px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/* -------------------------------- 
			Footer
-------------------------------- */
.footer {
  text-decoration: none; }
  .footer div {
    padding: 0;
    height: 100px;
    width: 100%;
    background: rgba(95, 166, 224, 0.3);
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .footer p {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    font-family: "Source Sans Pro", sans-serif;
    vertical-align: middle;
    line-height: 100px;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 18px;
    color: #5fa6e0; }

.footer:hover .footer-container {
  background: rgba(95, 166, 224, 0.8); }
  .footer:hover .footer-container p {
    color: #fff; }

/* -------------------------------- 
		Contact Overlay
-------------------------------- */
.connect-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
  opacity: 0;
  top: 0;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
  background-attachment: fixed;
  transition: .5s ease; }

.connected-overlay {
  z-index: 20 !important;
  opacity: 1 !important; }

.connect-container {
  width: 300px;
  position: absolute;
  left: 50%;
  margin-right: 50%;
  transform: translateX(-50%);
  top: 200px;
  z-index: -1; }
  .connect-container li.connect-item {
    animation-duration: .2s;
    opacity: 0; }
    .connect-container li.connect-item:hover .connect-link {
      color: #9b9b9b; }
    .connect-container li.connect-item:nth-of-type(1) {
      animation-delay: 50ms; }
    .connect-container li.connect-item:nth-of-type(2) {
      animation-delay: 100ms; }
    .connect-container li.connect-item:nth-of-type(3) {
      animation-delay: 150ms; }
    .connect-container li.connect-item:nth-of-type(4) {
      animation-delay: 200ms; }
    .connect-container li.connect-item:nth-of-type(5) {
      animation-delay: 250ms; }
    .connect-container li.connect-item:nth-of-type(6) {
      animation-delay: 300ms; }
    .connect-container li.connect-item a {
      color: #f7f7f7;
      font-family: "Futura Book";
      text-decoration: none;
      font-size: 20px;
      letter-spacing: 2px; }
    .connect-container li.connect-item p.connect-info {
      display: inline-block;
      padding: 15px 0 15px 70px;
      font-size: 15px; }

.connected-container {
  z-index: 999 !important; }

.fixed-page {
  position: fixed !important; }

/* -------------------------------- 
		Custom Animations
-------------------------------- */
.fadeInDownSwing {
  -moz-animation-name: fadeInDownSwing;
  -webkit-animation-name: fadeInDownSwing;
  animation-name: fadeInDownSwing;
  animation-fill-mode: both; }

@-moz-keyframes fadeInDownSwing {
  0% {
    opacity: 0;
    -moz-transform: translate3d(-5%, -100%, 0);
    transform: translate3d(-5%, -100%, 0); }
  to {
    opacity: 1;
    -moz-transform: none;
    transform: none; } }

@-webkit-keyframes fadeInDownSwing {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-5%, -100%, 0);
    transform: translate3d(-5%, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInDownSwing {
  0% {
    opacity: 0;
    transform: translate3d(-5%, -100%, 0); }
  to {
    opacity: 1;
    transform: none; } }

.slideInUp {
  -moz-animation-name: slideInUp;
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  animation-fill-mode: both; }

@-moz-keyframes slideInUp {
  0% {
    opacity: 0;
    -moz-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -moz-transform: none;
    transform: none; } }

@-webkit-keyframes slideInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: none; } }

/* -------------------------------- 
		Vendor Customization
-------------------------------- */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.pace-inactive {
  display: none; }

.pace .pace-progress {
  background: #9bc9ee;
  background: -webkit-linear-gradient(left, #4776E6, #8E54E9);
  background: -moz-linear-gradient(right, #4776E6, #8E54E9);
  background: linear-gradient(right, #4776E6, #8E54E9);
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 3px; }

.dark .pace .pace-progress {
  background: #fff; }
